In [6]:
import pandas as pd
import numpy as np
import os
from pprint import pprint

In [3]:
path_to_raw_data = os.path.join('..', 'raw_data')
print(path_to_raw_data)

../raw_data

In [8]:
list_of_files = sorted(os.listdir(path_to_raw_data))
pprint(list_of_files)

['defm_par_epci_en_dec_2017.xlsx',
 'defm_par_epci_en_decembre 2018.xlsx',
 'defm_par_epci_en_decembre_2016.xlsx',
 'defm_par_epci_en_decembre_2019.xlsx']

In [36]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[0]),
    sheet_name='par catégorie',
    skiprows=2,
    skipfooter=2,
    usecols=[
        'EPCI',
        'Catégorie A',
        'Catégorie B',
        'Catégorie C',
        'Catégorie D',
        'Catégorie E',
    ],
    engine='openpyxl'
)

In [37]:
df.head()

,EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
0,Bordeaux Métropole,49633,12685,19658,3945,6210
1,Brest Métropole,11352,2545,4830,1458,1199
2,CA Agglo Pays d'Issoire,2725,743,1491,199,394
3,CA Agglo du Pays de Dreux,7174,1334,2716,576,629
4,CA Agglomération du Choletais,4421,1194,3264,524,591

In [38]:
df.columns = [
    'lib_epci',
    'categorie_a',
    'categorie_b',
    'categorie_c',
    'categorie_d',
    'categorie_e',
]

In [39]:
df.head()

,lib_epci,categorie_a,categorie_b,categorie_c,categorie_d,categorie_e
0,Bordeaux Métropole,49633,12685,19658,3945,6210
1,Brest Métropole,11352,2545,4830,1458,1199
2,CA Agglo Pays d'Issoire,2725,743,1491,199,394
3,CA Agglo du Pays de Dreux,7174,1334,2716,576,629
4,CA Agglomération du Choletais,4421,1194,3264,524,591

In [40]:
df.tail()

,lib_epci,categorie_a,categorie_b,categorie_c,categorie_d,categorie_e
1257,Métropole du Grand Paris,422879,83106,119627,21637,32921
1258,Nantes Métropole,34181,9213,17990,3116,3782
1259,Rennes Métropole,21221,6135,11061,2447,2285
1260,Toulouse Métropole,50113,12089,21226,4701,6176
1261,Hors EPCI,10980,3541,5864,2592,1491

In [41]:
df.isna().sum()

lib_epci       0
categorie_a    0
categorie_b    0
categorie_c    0
categorie_d    0
categorie_e    0
dtype: int64

In [23]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'categorie',
        '2017.csv'
    ),
    index=False
)

In [43]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[1]),
    sheet_name='par catégorie',
    skiprows=3,
    skipfooter=2,
    usecols=[
        'Code EPCI',
        'Libellé EPCI',
        'Catégorie A',
        'Catégorie B',
        'Catégorie C',
        'Catégorie D',
        'Catégorie E',
    ],
    engine='openpyxl'
)

df.columns = [
    'code_epci',
    'lib_epci',
    'categorie_a',
    'categorie_b',
    'categorie_c',
    'categorie_d',
    'categorie_e',
]

df.head()

,code_epci,lib_epci,categorie_a,categorie_b,categorie_c,categorie_d,categorie_e
0,243300316.0,Bordeaux Métropole,47950,12071,20297,4083,5891
1,242900314.0,Brest Métropole,11339,2514,4857,1474,1005
2,200066918.0,CA Alès Agglomération,10142,1693,2715,810,1108
3,248000531.0,CA Amiens Métropole,13009,2466,4739,1193,923
4,200011773.0,CA Annemasse-les Voirons-Agglomération,6423,843,1622,335,282

In [44]:
df.tail()

,code_epci,lib_epci,categorie_a,categorie_b,categorie_c,categorie_d,categorie_e
1256,244200770.0,Saint-Etienne Métropole,23592,4985,10337,2068,1905
1257,NaN,Sans objet,391,100,104,19,41
1258,243100518.0,Toulouse Métropole,49563,12029,21360,4598,5493
1259,243700754.0,Tours Métropole Val de Loire,17478,4338,7778,1959,1599
1260,NaN,Hors EPCI,7457,2478,4005,2017,848

In [45]:
df.isna().sum()

code_epci      2
lib_epci       0
categorie_a    0
categorie_b    0
categorie_c    0
categorie_d    0
categorie_e    0
dtype: int64

In [46]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'categorie',
        '2018.csv'
    ),
    index=False
)

In [53]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[2]),
    sheet_name='par catégorie',
    skiprows=2,
    skipfooter=2,
    usecols=[
        'EPCI',
        'Catégorie A',
        'Catégorie B',
        'Catégorie C',
        'Catégorie D',
        'Catégorie E',
    ],
    engine='openpyxl'
)

df.head()

,EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
0,Bordeaux Métropole,48768,11474,18099,4878,6662
1,Brest Métropole,11946,2420,4442,1505,1279
2,CA Agglo Pays d'Issoire,2830,679,1251,299,438
3,CA Agglo du Pays de Dreux,7291,1283,2610,700,777
4,CA Agglomération du Choletais,4413,1135,3180,608,563

In [54]:
df.tail()

,EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
1257,Métropole du Grand Paris,419427,78212,112366,29395,34273
1258,Nantes Métropole,33985,9085,16791,3903,4260
1259,Rennes Métropole,21529,5979,10203,2935,2368
1260,Toulouse Métropole,51347,11673,20581,5110,6531
1261,Z. Communes hors EPCI,21121,6876,13134,5302,3825

In [55]:
df

,EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
0,Bordeaux Métropole,48768,11474,18099,4878,6662
1,Brest Métropole,11946,2420,4442,1505,1279
2,CA Agglo Pays d'Issoire,2830,679,1251,299,438
3,CA Agglo du Pays de Dreux,7291,1283,2610,700,777
4,CA Agglomération du Choletais,4413,1135,3180,608,563
...,...,...,...,...,...,...
1257,Métropole du Grand Paris,419427,78212,112366,29395,34273
1258,Nantes Métropole,33985,9085,16791,3903,4260
1259,Rennes Métropole,21529,5979,10203,2935,2368
1260,Toulouse Métropole,51347,11673,20581,5110,6531
1261,Z. Communes hors EPCI,21121,6876,13134,5302,3825

In [57]:
df.loc[1261, 'EPCI'] = 'Hors EPCI'

In [58]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'categorie',
        '2016.csv'
    ),
    index=False
)

In [64]:
df = pd.read_excel(
    os.path.join(path_to_raw_data, list_of_files[3]),
    sheet_name='par catégorie',
    skiprows=3,
    skipfooter=9,
    usecols=[
        'Code EPCI',
        'Libellé EPCI',
        'Catégorie A',
        'Catégorie B',
        'Catégorie C',
        'Catégorie D',
        'Catégorie E',
    ],
    engine='openpyxl'
)

df.head()

,Code EPCI,Libellé EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
0,200000172.0,CC Faucigny-Glières,1162,244,636,97,145
1,200000438.0,CC du Pays de Pontchâteau Saint-Gildas-des-Bois,1233,341,1140,175,172
2,200000545.0,CC des Portes de Romilly-sur-Seine,1591,246,430,118,109
3,200000628.0,CC Rhône Lez Provence,1662,352,742,133,202
4,200000800.0,CC Coeur de Sologne,378,108,236,35,57

In [65]:
df.tail(12)

,Code EPCI,Libellé EPCI,Catégorie A,Catégorie B,Catégorie C,Catégorie D,Catégorie E
1244,249710070.0,CA Grand Sud Caraïbe,10793,769,1190,521,215
1245,249720053.0,CA de l'Espace Sud de la Martinique,12107,1417,2192,720,573
1246,249720061.0,CA du Centre de la Martinique,15536,1775,2704,1248,687
1247,249730037.0,CC de l'Ouest Guyanais,5102,154,202,222,482
1248,249730045.0,CA du Centre Littoral,11917,744,1204,756,846
1249,249730052.0,CC de l'Est Guyanais,698,13,20,44,46
1250,249740077.0,CA CIVIS (Communauté Intercommunale des VIlles...,30299,2922,3746,1049,3042
1251,249740085.0,CA du Sud,21907,2017,2595,941,1938
1252,249740093.0,CA Intercommunale de la Réunion Est (CIREST),18325,1348,1964,744,1388
1253,249740101.0,CA Territoire de la Côte Ouest (TCO),33168,3440,4901,1345,2673
1254,249740119.0,CA Intercommunale du Nord de la Réunion (CINOR),27572,2803,4029,1321,2174
1255,NaN,Hors EPCI,3608,1009,905,1714,162

In [66]:
df.to_csv(
    os.path.join(
        '..',
        'clean_data',
        'categorie',
        '2019.csv'
    ),
    index=False
)